.x-tab .x-button-icon.iconSpeechify {
background-image: url('http://localhost:8888/TouchStart/lib/resources/themes/images/default/pictos/iconSpeechify.png');
}

.darkTemplate {
	background-image: url('../images/web/bookmark/dark-template.png');
	background-repeat: no-repeat;
	height: 197;
	width: 1024;
}

.lightTemplate {
	background-image: url('../images/web/bookmark/light-template.png');
	background-repeat: no-repeat;
	height: 197;
	width: 1024;
}


.iPadDarkTemplate {
	background-image: url('../images/iPad/bookmark/dark-template.png');
	
	height: 197;
	width: 768;
}

.iPadLightTemplate {
	background-image: url('../images/iPad/bookmark/light-template.png');
	
	height: 197;
	width: 768;
}


.iPhoneDarkTemplate {
	background-image: url('../images/iPhone/bookmark/dark-template.png');
	height: 92;
	width: 320;
}

.iPhoneLightTemplate {
	background-image: url('../images/iPhone/bookmark/light-template.png');
	height: 92;
	width: 320;
}





timePanelCss {
	background-color: red;
}

.sidebarpanel {
	background-image: url('http://www.jeremyzhong.com/terabytes/images/main/sidebar/task-bg.png');
}

.suggestCss {
	background-image: url('http://www.jeremyzhong.com/terabytes/images/suggest/SuggestUI.png');
}

.bookmarkTask {
	float:left;
	padding: 16px 0px 15px 45px;
}

.bookmarkPlace {
	float:left;
	padding: 16px 0px 15px 35px;
}

.bookmarkTime {
	float:left;
	padding: 16px 0px 15px 35px;
}

.bookmarkPlay {
	float: right;
	margin: 30px 50px 0px 0px;
}



.iPhoneBookmarkTask {
	float:left;
	padding: 10px 0px 0px 10px;
}

.iPhoneBookmarkPlace {
	float:left;
	padding: 10px 0px 0px 10px;
}

.iPhoneBookmarkTime {
	float:left;
	padding: 10px 0px 0px 10px;
}

.iPhoneBookmarkPlay {
	float: right;
	padding: 30px 10px 0px 0px;
}




.iPadBookmarkTask {
	float:left;
	padding: 16px 0px 15px 45px;
}

.iPadBookmarkPlace {
	float:left;
	padding: 16px 0px 15px 50px;
}

.iPadBookmarkTime {
	float:left;
	padding: 16px 0px 15px 56px;
}

.iPadBookmarkPlay {
	float: right;
	margin: 16px 50px 0px 0px;
}




.clearBoth { clear:both; }

.settingsEnglish {
	margin-top: 100px;
	margin-left: 100px;
}

.zIndex3 {
	z-index: 3;
}

.zIndex2 {
	z-index: 2;
}

.zIndex1 {
	z-index: 1;
}

.zIndex0 {
	z-index: 0;
}